[run]
branch = False
source =
    unit_test
omit =
    unit_test/htmlcov/*
    unit_test/dfd_route_fixtures.py

[report]
show_missing = True
skip_empty = True
precision = 0
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
